<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1568</integer>
    <key>capHeight</key>
    <integer>1420</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Caskaydia Cove Project Authors (https://github.com/eliheuer/caskaydia-cove)</string>
    <key>descender</key>
    <integer>-480</integer>
    <key>familyName</key>
    <string>Caskaydia Cove</string>
    <key>guidelines</key>
    <array>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/04/07 17:18:29</string>
    <key>openTypeHheaAscender</key>
    <integer>1977</integer>
    <key>openTypeHheaDescender</key>
    <integer>-480</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Aaron Bell</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sajatypeworks.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eli Heuer</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://elih.blog</string>
    <key>openTypeOS2TypoAscender</key>
    <integer>1977</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-480</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2280</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1220</integer>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>6</integer>
      <integer>9</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>4</integer>
    </array>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>1060</integer>
      <integer>1080</integer>
      <integer>1420</integer>
      <integer>1440</integer>
      <integer>1500</integer>
      <integer>1520</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptIsFixedPitch</key>
    <true/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-480</integer>
      <integer>-460</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>200</integer>
      <integer>210</integer>
      <integer>212</integer>
      <integer>220</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>180</integer>
      <integer>190</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Caskaydia Cove</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>4</integer>
    <key>versionMinor</key>
    <integer>300</integer>
    <key>xHeight</key>
    <integer>1060</integer>
    <key>openTypeOS2Type</key>
    <array>
        <integer>0</integer>
    </array>
  </dict>
</plist>
